@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Zen+Antique+Soft&display=swap');

* {
  font-family: "Noto Sans KR", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0d0d0d;
  --text-color: #ffffff;
  --menu-color: #151516;
  --menu-task-color: #2c2c2c;
  --task-color: #414141;
  --extra-color: #727272;
  --selected-color: #adadad;
}

.App {
  text-align: center;
  background-color: var(--bg-color);
}

.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--menu-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  z-index: 10;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: none;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  gap: 30px;
}

.icons > svg {
  font-size: 30px;
  color: var(--extra-color);
  transition: transform 0.3s, color 0.3s;
}

.icons > svg:hover {
  transform: scale(1.2);
  color: var(--selected-color);
}

.icons > svg.active {
  color: var(--selected-color);
  transform: scale(1.2);
}

.icons > svg:not(.active) {
  color: var(--extra-color);
}
