.Friends {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.gif-friends {
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.friends-title {
    text-align: center;
}

.friends-text {
    margin-bottom: 10px;
    text-align: center;
}