.Leaderboard {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.leaderboard-title {
    margin-bottom: 20px;
    text-align: center;
}

.gif-leaderboard {
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.leaderboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    background-color: var(--menu-task-color);
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

.leaderboard-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--extra-color);
}

.leaderboard-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.place {
    font-weight: bold;
}

.name {
    font-size: 16px;
}

.points {
    font-size: 14px;
    color: var(--selected-color);
    text-align: right;
}

.your-place-leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    background-color: var(--menu-task-color);
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.leaderboard-item-you {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}