.Leaderboard {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.leaderboard-title {
    margin-bottom: 20px;
}

.gif-leaderboard {
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.leaderboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    background-color: var(--menu-task-color);
    margin: 0 auto;
    border-radius: 10px;
}

.leaderboard-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 350px;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--extra-color);
    width: 100%;
}

.leaderboard-item > * {
    margin: 0 10px;
}

.leaderboard-item > h4:first-child {
    font-weight: bold;
}

.leaderboard-item > h4:last-child {
    font-size: 0.9rem;
    color: var(--selected-color);
}
